power-app/flows/SubmitUseCase/definition.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "manual": {
        "type": "Request",
        "kind": "PowerAppsV2",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "text": { "title": "useCaseId", "type": "string" },
              "text_1": { "title": "submittedBy", "type": "string" }
            },
            "required": ["text"]
          }
        }
      }
    },
    "actions": {
      "Get_UseCase": {
        "type": "OpenApiConnection",
        "inputs": {
          "host": {
            "connectionName": "shared_commondataserviceforapps",
            "operationId": "GetItem",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
          },
          "parameters": {
            "entityName": "ai_usecases",
            "recordId": "@triggerBody()['text']"
          }
        },
        "runAfter": {}
      },
      "Check_Status_Is_DRAFT": {
        "type": "If",
        "expression": {
          "and": [{ "equals": ["@body('Get_UseCase')?['ai_status']", "DRAFT"] }]
        },
        "actions": {
          "Update_Status_to_IN_REVIEW": {
            "type": "OpenApiConnection",
            "inputs": {
              "host": {
                "connectionName": "shared_commondataserviceforapps",
                "operationId": "UpdateRecord",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
              },
              "parameters": {
                "entityName": "ai_usecases",
                "recordId": "@triggerBody()['text']",
                "item/ai_status": "IN_REVIEW"
              }
            }
          }
        },
        "else": {
          "actions": {}
        },
        "runAfter": {
          "Get_UseCase": ["Succeeded"]
        }
      },
      "Respond_to_PowerApps": {
        "type": "Response",
        "kind": "PowerApps",
        "inputs": {
          "statusCode": 200,
          "body": { "result": "ok" }
        },
        "runAfter": {
          "Check_Status_Is_DRAFT": ["Succeeded"]
        }
      }
    }
  },
  "connectionReferences": {
    "shared_commondataserviceforapps": {
      "runtimeSource": "embedded",
      "connection": {},
      "api": { "name": "shared_commondataserviceforapps" }
    }
  }
}
